.block1 {
  padding: 80px 0 100px;
  background: $bg_color2 url("../img/bg1.jpg") center top no-repeat;
  .block1__title {
    margin-top: 0;
    margin-bottom: 15px;
    .title__red-block {
      display: inline-block;
      padding: 20px 42px 21px 30px;
      background: #ff0000;
      color: #ffffff;
      margin-left: 30px;
      font-family: $main_font_familyBold;
      box-shadow:  15px 15px 30px rgba(255,0,0,.3);
      .currency {
        display: inline-block;
        width: 29px;
        height: 33px;
        background: url("../img/rub-icon.png") center no-repeat;
      }
    }
    &:after {
      display: none;
    }
  }
  .triger {
    padding-bottom: 20px;
    margin-bottom: 45px;
    &__item {
      display: inline-block;
      margin-right: 25px;
      &_icon {
        display: inline-block;
        margin-right: 10px;
      }
      &_text {
        display: inline-block;
        color: #3b5998;
        font-family: $main_font_familyBold;
      }
      .map-icon {
        position: relative;
        top: -5px;
      }
    }
  }
  .equipment {
    margin-bottom: 40px;
    padding-bottom: 45px;
    &__franch {
      font-size: 18px;
      font-family: $main_font_familyBold;
      display: inline-block;
      margin-right: 30px;
      line-height: 1.2;
    }
    &__address-company {
      font-size: 45px;
      font-family: $main_font_familyBold;
      color: #ff0000;
    }
  }
  .dop-info {
    margin-bottom: 70px;
    .dop-info__item {
      display: inline-block;
      line-height: 24px;
      margin-right: 50px;
      padding: 12px 0 12px 20px;
      border-left: 3px solid #3b5998;
      text-transform: uppercase;
    }
  }
  .arrow {
    margin-top: 165px;
  }
}
.block2 {
  padding-top: 90px;
  padding-bottom: 100px;
  background: url("../img/bg2.jpg") left 90px no-repeat;
  .title {
    margin-bottom: 50px;
  }
  .advantage__item {
    text-align: center;
    margin-bottom: 45px;
    min-height: 180px;
    &_icon {
      margin-bottom: 20px;
    }
  }
  .main-bg_first {
    .main-thing {
      background: $bg_color;
      .title {
        font-size: 40px;
        font-family: $main_font_familyBold;
        margin: 0 0 0 20px;
        padding-bottom: 0;
        display: inline-block;
        &:after {
          display: none;
        }
      }
      .manual {
        margin: 0 0 0 50px;
        display: inline-block;
        font-size: 20px;
        text-transform: none;
        font-family: $main_font_family;
      }
    }
  }
}
.block3 {
  padding: 70px 0;
}
.block5 {
  padding: 80px 0;
  .title {
    margin-bottom: 40px;
  }
  .gallery__item {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: all .4s ease;
    img {
      border-radius: 8px;
      width: 100%;
      max-width: 210px;
      height: 135px;
    }
  }
  .gallery__photo:hover {
    border: 2px solid #ffffff;
    box-shadow: 0 0 50px rgba(59,89,152,.4);
    opacity: .9;
    background: #3b5998 url("../img/loop-icon.png") center no-repeat;
    img {
      opacity: .5;
    }
  }
  .gallery__video {
    border: 2px solid transparent;
    opacity: .9;
    background: #333333 url("../img/play-icon.png") center no-repeat;
    img {
      opacity: .5;
    }
    &:hover {
      opacity: 1;
      box-shadow: 0 0 50px rgba(0,0,0,.4);
      border: 2px solid #ffffff;
    }
  }
}
.block6 {
  background: #ffffff url("../img/bg6.jpg") center 50px no-repeat;
  padding: 80px 0 40px ;
  .title {
    margin-bottom: 60px;
  }
  .questions {
    .question__inner {
      margin-bottom: 40px;
      padding: 15px;
    }
    .question__item {
      .question {
        box-sizing: border-box;
        padding: 20px;
        cursor: pointer;
        border: 2px solid #f5f7fa;
        border-radius: 15px;
        font-size: 24px;
        font-family: $main_font_familyBold;
        background: #ffffff url("../img/open-icon.png") 97% center no-repeat;
        span {
          padding: 10px;
          border-left: 2px solid #f5f7fa;
        }
        img {
          margin-right: 10px;
        }
      }
      .question-open {
        position: relative;
        border: 2px solid transparent;
        background: #ffffff url("../img/close-icon.png") 97% center no-repeat;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 2px solid #f5f7fa;
        &:after, &:before {
          content: "";
          position: absolute;
          height: 2px;
          width: 20px;
          background: #ffffff;
        }
        &:before {
          left: -2px;
          bottom: -2px;
        }
        &:after {
          right: -2px;
          bottom: -2px;
        }

      }
      .hides-answer {
        background: #ffffff;
        padding: 20px;
        border-bottom: 2px solid #f5f7fa;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }

    .substrate-question {
      box-shadow: 0 0 40px rgba(59,89,152,.2);
      background: rgba(233,237,244,.5);
      padding: 15px;
      border-radius: 15px;
    }
  }
}
.block7 {
  padding: 80px 0 60px;
  .social {
    text-align: right;
    &__item {
      display: inline-block;
    }
    .social-youtube {
      padding: 10px 20px 35px;
      border: 1px solid #808080;
      .youtube-title {
        margin-top: 10px;
        text-align: center;
        font-size: 26px;
        color: #ff0000;
        font-family: $main_font_familyBold;
        margin-bottom: 20px;
      }
    }
  }
}