.block1 {
  margin-top: 70px;
  padding: 80px 0 100px;
  background: $bg_color2 url("../img/bg1.jpg") center top no-repeat;
  .block1__title {
    margin-top: 0;
    margin-bottom: 15px;
    .title__red-block {
      display: inline-block;
      padding: 20px 42px 21px 30px;
      background: #ff0000;
      color: #ffffff;
      margin-left: 30px;
      font-family: $main_font_familyBold;
      box-shadow:  15px 15px 30px rgba(255,0,0,.3);
      .currency {
        display: inline-block;
        width: 29px;
        height: 33px;
        background: url("../img/rub-icon.png") center no-repeat;
      }
    }
    &:after {
      display: none;
    }
  }
  .triger {
    padding-bottom: 20px;
    margin-bottom: 45px;
    &__item {
      display: inline-block;
      margin-right: 25px;
      &_icon {
        display: inline-block;
        margin-right: 10px;
      }
      &_text {
        display: inline-block;
        color: #3b5998;
        font-family: $main_font_familyBold;
      }
      .map-icon {
        position: relative;
        top: -5px;
      }
    }
  }
  .equipment {
    margin-bottom: 40px;
    padding-bottom: 45px;
    &__franch {
      font-size: 18px;
      font-family: $main_font_familyBold;
      display: inline-block;
      line-height: 1.2;
    }
  }
  .dop-info {
    margin-bottom: 70px;
    .dop-info__item {
      display: inline-block;
      line-height: 24px;
      margin-right: 50px;
      padding: 12px 0 12px 20px;
      border-left: 3px solid #3b5998;
      text-transform: uppercase;
    }
  }
  .arrow {
    margin-top: 165px;
  }
}
.block2 {
  padding-top: 90px;
  padding-bottom: 100px;
  background: url("../img/bg2.jpg") left 90px no-repeat;
  .title {
    margin-bottom: 50px;
  }
  .advantage__item {
    text-align: center;
    margin-bottom: 45px;
    min-height: 180px;
    &_icon {
      margin-bottom: 20px;
    }
  }
  .main-bg_first {
    .main-thing {
      background: $bg_color;
      .title {
        font-size: 40px;
        font-family: $main_font_familyBold;
        margin: 0 0 0 20px;
        padding-bottom: 0;
        display: inline-block;
        &:after {
          display: none;
        }
      }
      .manual {
        margin: 0 0 0 50px;
        display: inline-block;
        font-size: 20px;
        text-transform: none;
        font-family: $main_font_family;
      }
    }
  }
}
.block3 {
  padding: 80px 0 0;
  .title {
    margin-bottom: 40px;
  }
  .fitment__item {
    padding-bottom: 40px;
    margin-bottom: 40px;
    .fitment__gallery {
      &_choose {
        margin-bottom: 25px;
        border-radius: 10px;
        text-align: center;
        img {
          max-width: 300px;
          //max-height: 300px;
          border-radius: 10px;
          width: 100%;
        }
      }
      &_list {
        margin-bottom: 10px;
        text-align: center;
        .list-item {
          cursor: pointer;
          width: 30%;
          float: left;
          margin-right: 5%;
          margin-bottom: 0;
          &:last-child {
            margin-right: 0;
          }
        }
        img {
          max-width: 100px;
          width: 100%;
        }
      }
    }
    &_title {
      h2 {
        margin: 0 0 10px 20px;
        font-size: 30px;
        font-family: $main_font_familyBold;
      }
    }
    &__description {
      margin-bottom: 20px;
    }
    &_parameters {
      margin-bottom: 20px;
      .parameter__item {
        margin-bottom: 10px;
        &_name {
          cursor: pointer;
          padding: 5px 0 5px 35px;
          background: url("../img/open-icon.png") left center no-repeat;
          span {
            color: #3b5998;
            border-bottom: 1px dashed #99a8c8;
          }
        }
        &_descr {
          margin-top: 10px;
          padding-left: 35px;
          font-size: 0;
          .descr-text {
            font-size: 16px;
          }
          .descr__type {
            display: inline-block;
            border-right: 2px solid  #f1f1f2;

            &_name {
              font-size: 16px;
              text-align: center;
              padding: 0 15px 7px 15px;
              border-bottom: 2px solid  #f1f1f2;
              font-family: $main_font_familyBold;
            }
            &_value {
              font-size: 16px;
              font-family: $main_font_familyBold;
              text-align: center;
              margin-top: 7px;
              color: #ff0000;
            }
            &:first-child {
              &_name {
                padding: 0 15px 7px 0;
              }
            }
            &:last-child {
              border-right: 0;
              &_name {
                padding: 0 0 7px 15px;
              }
            }
          }
        }
        .parameter-active {
          background: url("../img/close-icon.png") left center no-repeat;
        }
      }
    }
    .fitment__buy-inner {
      .substrate {
        padding: 10px;
      }
      .fitment__pricing {
        background: #ffffff;
        .fitment__price {
          margin-top: 5px;
          display: inline-block;
          padding-left: 30px;
          font-size: 40px;
          color: #3b5998;
          font-family: $main_font_familyBold;
          padding-right: 15px;
          border-right: 2px solid #f2f2f2 ;
          .currency {
            display: inline-block;
            width: 27px;
            height: 30px;
            background: url("../img/rub-big-icon.png") center no-repeat;

          }
        }
        &_text {
          line-height: 14px;
        }
      }
      .fitment__buy-btn {
        margin-top: 15px;
        text-align: center;
        .btn_red-border {
          padding: 20px 75px 21px;
        }
      }
    }
  }
}
.block4 {
  height: 900px;
  position: relative;
  padding: 80px 0;
  background: url("../img/bg4.jpg") center no-repeat;
  .title {
    margin-bottom: 40px;
  }
  .differences {
    position: relative;
    .difference__item {
      margin-bottom: 30px;
      .difference__title {
        z-index: 2;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 5px;
        margin-bottom: 10px;
        position: relative;
        font-size: 18px;
        color: #3b5998;
        font-family: $main_font_familyBold;
        &:before,  &:after {
          content: "";
          position: absolute;
        }
        &:before {
          height: 1px;
          background: #e3e3e3;

        }
        &:after {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 2px solid #ffffff;
          background: #3b5998;
        }
      }
      .difference1:after {
        top: 322px;
        right: -84px;
      }
      .difference1:before {
        width: 321px;
        transform: rotate(76deg);
        right: -199px;
        top: 185px;
      }

      .difference2:after {
        top: 192px;
        left: -322px;
      }
      .difference2:before {
        width: 358px;
        transform: rotate(151deg);
        left: -336px;
        top: 116px;
      }

      .difference3:after {
        top: 205px;
        right: -109px;
      }
      .difference3:before {
        width: 195px;
        transform: rotate(59deg);
        right: -148px;
        top: 136px;
      }

      .difference4:after {
        top: 81px;
        left: -417px;
      }
      .difference4:before {
        width: 399px;
        transform: rotate(175deg);
        left: -398px;
        top: 70px;
      }

      .difference5:after {
        top: 47px;
        right: -66px;
      }
      .difference5:before {
        width: 62px;
        transform: rotate(25deg);
        right: -59px;
        top: 42px;
      }

      .difference6:after {
        top: 5px;
        left: -106px;
      }
      .difference6:before {
        width: 95px;
        transform: rotate(201deg);
        left: -91px;
        top: 36px;
      }

      .difference7:after {
        top: -63px;
        right: -76px;
      }
      .difference7:before {
        width: 99px;
        transform: rotate(-50deg);
        right: -81px;
        top: -9px;
      }

      .difference8:after {
        top: -192px;
        left: -236px;
      }
      .difference8:before {
        width: 332px;
        transform: rotate(226deg);
        left: -281px;
        top: -66px;
      }
    }

    .item_6 {
      margin-bottom: 80px;
    }

    .bags {
      width: 540px;
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

}
.block5 {
  padding: 80px 0;
  .title {
    margin-bottom: 40px;
  }
  .gallery__item {
    img {
      max-width: 210px;
      height: 135px;
    }
  }
}
.block6 {
  background: #ffffff url("../img/bg6.jpg") center 50px no-repeat;
  padding: 80px 0 40px ;
  .title {
    margin-bottom: 60px;
  }
  .questions {
    .question__inner {
      margin-bottom: 40px;
      padding: 15px;
    }
    .question__item {
      .question {
        box-sizing: border-box;
        padding: 20px;
        cursor: pointer;
        border: 2px solid #f5f7fa;
        border-radius: 15px;
        font-size: 24px;
        font-family: $main_font_familyBold;
        background: #ffffff url("../img/open-icon.png") 97% center no-repeat;
        span {
          padding: 10px;
          border-left: 2px solid #f5f7fa;
        }
        img {
          margin-right: 10px;
        }
      }
      .question-open {
        position: relative;
        border: 2px solid transparent;
        background: #ffffff url("../img/close-icon.png") 97% center no-repeat;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 2px solid #f5f7fa;
        &:after, &:before {
          content: "";
          position: absolute;
          height: 2px;
          width: 20px;
          background: #ffffff;
        }
        &:before {
          left: -2px;
          bottom: -2px;
        }
        &:after {
          right: -2px;
          bottom: -2px;
        }

      }
      .hides-answer {
        background: #ffffff;
        padding: 20px;
        border-bottom: 2px solid #f5f7fa;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }

    .substrate-question {
      box-shadow: 0 0 40px rgba(59,89,152,.2);
      background: rgba(233,237,244,.5);
      padding: 15px;
      border-radius: 15px;
    }
  }
}
.block7 {
  padding: 80px 0 60px;
  .social {
    text-align: right;
    &__item {
      display: inline-block;
    }
    .social-youtube {
      padding: 10px 20px 35px;
      border: 1px solid #808080;
      .youtube-title {
        margin-top: 10px;
        text-align: center;
        font-size: 26px;
        color: #ff0000;
        font-family: $main_font_familyBold;
        margin-bottom: 20px;
      }
    }
  }
}