.wrapper {
  flex-grow: 1;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

a {
  color: $main_font_color;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
  color: $main_font_color;
}