$main_font_size: 16px;
$main_font_color: #333333;
$main_font_family: 'helveticaneuecyrlight';
$main_font_familyBold: 'helveticaneuecyrbold';
$main_font_familyThin: 'helveticaneuecyrthin';
$bg_color: #ffffff;
$bg_color2: #f8f8f8;
$line_height: 1.5em;


@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url('../fonts/HelveticaNeueCyr-Bold.otf');
  font-weight: normal;
  font-style: normal;

}



@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url('../fonts/HelveticaNeueCyr-Light.otf');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'helveticaneuecyrthin';
  src: url('../fonts/HelveticaNeueCyr-Thin.otf');
  font-weight: normal;
  font-style: normal;

}

