$main_font_size: 14px;
$main_font_color: #000000;
$main_font_family: 'Open Sans';
$main_font_familyBold: 'Open Sans Bold';
$bg_color: #ffffff;
$line_height: 1.5em;


@font-face {
  // Connect fonts
}

