.logo {
  display: block;
  text-align: left;
  img {
    width: 100%;
    max-width: 50px;
  }
}

.nav {
  display: block;
  text-align: center;
  &__list {
    text-align: center;
    font-size: 0;
    padding: 0;
    margin: 0;
  }
  &__item {
    display: inline-block;
    list-style: none;
    &_link {
      padding: 24px 21px 0;
      display: block;
      height: 70px;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 15px;
      &:hover, &:active, &:focus  {
        //padding: 24px 17px 0;
        background: #4c75cb;
        font-size: 15px;
        //font-family: $main_font_familyBold;
        color: #ffffff;
      }
    }
  }
}

.phone-block {
  margin-top: 12px;
  text-align: right;
  position: relative;
  .phone-icon {
    position: absolute;
    top: 0;
    left: -10px;
  }
  .tel {
    display: inline-block;
    &-number {
      font-size: 20px;
      font-family: $main_font_familyBold;
      color: #ffffff;
    }
  }
  .phone-order {
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-family: $main_font_familyBold;
    border-bottom: 1px dashed #ffffff;
    &:hover {
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
    }
  }
}

.title {
    font-size: 45px;
    font-family: $main_font_familyThin;
    position: relative;
    padding-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      display: inline-block;
      width: 95px;
      height: 3px;
      background: #4c75cb;
    }
}

.red-text {
  font-size: 45px;
  font-family: $main_font_familyBold;
  color: #ff0000;
}

.green-border {
  border-bottom: 1px solid #dff3e9;
}

.btn_red-border {
  display: inline-block;
  padding: 20px 55px 21px;
  font-size: 20px;
  font-family: $main_font_familyBold;
  border: 3px solid #ff0000;
  border-radius: 35px;
  transition: all .3s ease;
  &:hover, &:active, &:focus {
    outline: 0;
    color: #fff;
    box-shadow: 0 0 30px rgba(255,0,0,.5);
    background: linear-gradient(to top, #d21616, #ff0000);
  }
}

.gallery__item {
  text-align: center;
  margin-bottom: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: all .4s ease;
  img {
    border-radius: 8px;
    width: 100%;
  }
}

.gallery__photo:hover {
  border: 2px solid #ffffff;
  box-shadow: 0 0 50px rgba(59,89,152,.4);
  opacity: .9;
  background: #3b5998 url("../img/loop-icon.png") center no-repeat;
  img {
    opacity: .5;
  }
}

.gallery__video {
  border: 2px solid transparent;
  opacity: .9;
  background: #333333 url("../img/play-icon.png") center no-repeat;
  img {
    opacity: .5;
  }
  &:hover {
    opacity: 1;
    box-shadow: 0 0 50px rgba(0,0,0,.4);
    border: 2px solid #ffffff;
  }
}

// Подложка
.substrate {
  padding: 15px;
  border-radius: 15px;
}

.substrate-lvl1 {
  box-shadow: 0 0 80px rgba(59,89,152,.2);
  background: rgba(233,237,244,.1);
}

.substrate-lvl2 {
  box-shadow: 0 0 50px rgba(59,89,152,.1);
  background: rgba(233,237,244,.2);
}

.bg2 {
  background: $bg_color2;
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background: #3b5998;
}

// PoPuP

.modal .modal-dialog {
  width: 350px;
  max-width: 450px;
  margin-top: 60px;
  border-radius: 0;
  .modal-content {
    text-align: center;
    border-radius: 0;
    .modal-header {
      padding: 10px 15px 0;
      border: 0;
    }
    .modal-body {
      padding: 0;
      .modal-title {
        font-size: 20px;
        font-family: $main_font_familyBold;
        text-transform: uppercase;
      }
      .main-form {
        padding: 0 20px 20px;
        margin-top: 0;
        .form-horizontal {
          margin-top: 20px;
          padding: 0 10px;
          .labels {
            display: block;
            width: 100%;
            border: 0;
          }
        }
        .btn_red-border {
          text-transform: uppercase;
          padding: 15px 0;
          width: 100%;
          background: #ffffff;
          &:hover, &:active, &:focus {
            background: linear-gradient(to top, #d21616, #ff0000);
          }
        }
      }
      .success {
        background-color: #fff;
        color: #3bb038;
        width: 90%;
        margin: 10px auto 35px;
        font-size: 20px;
      }
    }
  }
}

.modal .modal-footer, .success-modal {
  display: none;
}

.form-control {
  text-align: center;
  position: relative;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #eaeaea;
}


//Menu
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:20px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:2em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0 15px 0px 15px;
  color:#000;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}



